USE [master]
GO
/****** Object:  Database [DBVenda]    Script Date: 10/08/2025 22:29:05 ******/
CREATE DATABASE [DBVenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBVenda', FILENAME = N'E:\Sistemas\Dados\DBVenda.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBVenda_log', FILENAME = N'E:\Sistemas\Dados\DBVenda_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBVenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBVenda]
GO
/****** Object:  Table [dbo].[TB_PRODUTOS]    Script Date: 10/08/2025 22:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PRODUTOS](
	[ID] [int] NOT NULL,
	[CODIGO_BAR] [varchar](13) NULL,
	[DESCRICAO] [varchar](100) NULL,
	[PRECO_COMPRA] [numeric](18, 2) NULL,
	[PRECO_VENDA] [numeric](18, 2) NULL,
	[QTD_ESTOQUE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_TB_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_VENDAS]    Script Date: 10/08/2025 22:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_VENDAS](
	[ID_VENDA] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[NUM_VENDA] [int] NULL,
	[DATA_VENDA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[VALOR_UNITARIO] [numeric](18, 2) NULL,
	[VALOR_TOTAL] [numeric](18, 2) NULL,
 CONSTRAINT [PK_TB_VENDAS] PRIMARY KEY CLUSTERED 
(
	[ID_VENDA] ASC,
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TB_VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_VENDAS_TB_PRODUTOS] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[TB_PRODUTOS] ([ID])
GO
ALTER TABLE [dbo].[TB_VENDAS] CHECK CONSTRAINT [FK_TB_VENDAS_TB_PRODUTOS]
GO
USE [master]
GO
